<div class="contents row" >
  <div class="row">
    <div class="container">
    <h1>Blog一覧</h1>
    <%= search_form_for @search do |f| %>
      <%= f.label :title, "タイトル名を含む" %>
      <%= f.search_field :title_cont %>
      <div class="actions"><%= f.submit "検索" %></div>
    <% end %>

    <div class="col s12 ">
      <div class="card light-blue lighten-2 ">
        <% if @result.any? %>
          <%= render @result %>
        <% end %>
        <% if @result.nil? %>
          <% @products.each do |product| %>
            <%= render partial: "product", locals: { product: product } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
 <%= paginate @products %>
</div>
